#header
{
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    height: 45px;
}
#container
{
}
#settings
{
    float: right;
}
#price_container
{
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    height: 300px;
    font-size: 16px;
}
#btn_container
{
    padding-top: 2px;
    padding-left: 87px;
}
#btn
{
    background-color: #4d79ff;
}
hr
{
    border: 1px solid #668cff;
}
img
{
    float: left;
    display: inline;
    vertical-align: bottom;
    display: table-cell;
}
body
{
    height: 420px;
    width: 250px;
    /*background-color: #ccd9ff;*/
    /*border-color: #809fff;*/
    /*border-style: solid;*/
    border-radius: 5px;
}
html
{
    height: 438px;
    width: 265px;
    border-color: #809fff;
    border-style: solid;
}
img
{
    margin-top: 3px;
    margin-right: 5px;
}